
table{border-spacing:0;border-collapse: collapse}
.k_w100p{float:left; width:100%}

/*ssl_banggia*/
.ssl{ background: url(../images/k_ssl_bg.jpg) no-repeat center top fixed; float:left; width:100%; background-size:cover}
.ssl_title{ float:left; width:100%; height:90px}
.ssl_title h2{font-family: 'Roboto Condensed', sans-serif; font-size:33px;color:#fff; float:left; margin-top:25px; text-shadow:1px 1px 1px #000;}
.ssl_title ul{float:right; margin-top:35px}
.ssl_title li{float:left; margin:0 0 0 1px}
.ssl_title li a{color:#fff; background:#70b521; padding:6px 15px; font:14px arial}
.ssl_title li a:hover{background:#4d9100}
.ssl_cnt{background:#fff; float:left; padding:1.5%; width:100%; margin-bottom: 20px;}
.ssl_banner{ float:left; width:100%}
.ssl_bannerimg{ float:left; width:57.5%; position:relative}
.ssl_bannerimg img{max-width:100%}
.ssl_bannerimg .number{ position:absolute; bottom:10px; right:10px}
.ssl_bannerimg .number a{ background:url(../images/opacity_black.html) repeat; border:solid 1px #c1c1c1; color:#fff; font:14px arial; padding:2px 6px; float:left; margin-left:5px}
.ssl_bannerimg .number a:hover,.ssl_bannerimg .number a.active{background:#305e8e; border:solid 1px #fff}
.ssl_bannertxt{ float:right; width:41.5%}
.ssl_bannertxt li{ background:#f1ebdb; float:left; width:100%; margin-bottom:1px; padding:14px 0}
.ssl_bannertxt li .img{ float:left; width:7%; margin:0 2%; text-align:center}
.ssl_bannertxt li .img img{ max-width:100%}
.ssl_bannertxt li .txt{ float:left; width:89%; margin-top:5px;font-family: 'Roboto Condensed', sans-serif; color:#454545; font-size:18px}

.ssl_bg{ float:left; width:100%; margin-top:15px; font:13px/17px Tahoma; color:#2e2e2c}
.ssl_bg .box{ width:32%; margin-right:2%; float:left}
.ssl_bg .box:last-child{margin-right:0}
.ssl_bg .title{text-align:center; color:#fff; padding:10px 0; float:left; width:100%}
.ssl_bg .box1 .title{background:#79ba4e; border:solid 1px #79ba4e}
.ssl_bg .box2 .title{background:#50a716; border:solid 1px #50a716}
.ssl_bg .box3 .title{background:#3c8f05; border:solid 1px #3c8f05}
.ssl_bg h3{ font-family: 'Roboto Condensed', sans-serif;font-size:25px; margin:5px 0 10px 0}
.ssl_bg h4{ font:14px Tahoma}

.ssl_bg .box .cnt{float:left; width:100%}
.ssl_bg .box1 .cnt{border:solid 1px #66b730; float:left}
.ssl_bg .box2 .cnt{border:solid 1px #50a716; float:left}
.ssl_bg .box3 .cnt{border:solid 1px #3c8f05; float:left}
.ssl_bg table{width:100%}
.ssl_bg td{width:48%; padding:7px 2%; border-bottom:dashed 1px #c8c8c8}

.ssl_bg .box1 thead td:first-child,.ssl_bg .box1 tbody td:first-child{background:#e5e7e4}
.ssl_bg .box2 thead td:first-child,.ssl_bg .box2 tbody td:first-child{background:#dcefcf}
.ssl_bg .box3 thead td:first-child,.ssl_bg .box3 tbody td:first-child{background:#c7eaaf}
.ssl_bg .rate{color:#ff2834}
.ssl_bg .viewmore{text-align:center; font-weight:bold}
.ssl_bg .viewmore td{background:red; float:left; width:100%; display:block; padding:0}
.ssl_bg .viewmore a{ color:#000}
.ssl_bg .viewmore a:hover{ color:#555554}

.ssl_bg img{max-width:100%}

.ssl_bg tfoot{color:#fff}
.ssl_bg .discount td{color:#fff; font-family: 'Roboto Condensed', sans-serif; font-size:20px;border-radius:5px 5px 0 0; width:100%; float:left; margin:10px 0 0 50%; border-bottom:none; text-shadow:1px 1px 1px #1c4600; padding:10px; margin-bottom:1px;text-align:center}
.ssl_bg .box1 .discount td{background:#66b730}
.ssl_bg .box2 .discount td{background:#66b730}
.ssl_bg .box3 .discount td{background:#66b730}
.ssl_bg .discount strong{ font-size:30px}
.ssl_bg .select td{cursor:pointer; border-bottom:none}
.ssl_bg .box1 .select td{background: url(../images/k_ssl_ar1.html) no-repeat right #66b730}
.ssl_bg .box2 .select td{background: url(../images/k_ssl_ar2.html) no-repeat right #66b730}
.ssl_bg .box3 .select td{background: url(../images/k_ssl_ar3.html) no-repeat right #66b730; padding:15px 0}
.ssl_bg .box3 .select td p:first-child{ padding-left:15%}
.ssl_bg .box3 .select td p:last-child{ padding-right:7%}
.ssl_bg .select td:first-child{border-right:solid 1px #fff; text-align:left;padding-right:30px}
.ssl_bg .select td:last-child{text-align:right; padding-right:30px}

.ssl_bg .dropdown{ color:#000; float:left; width:100%; display:none}
.ssl_bg .box1 .dropdown{background:#dafec2}
.ssl_bg .box2 .dropdown{background:#fcebc8}
.ssl_bg .box3 .dropdown{background:#ffe7e8}
.ssl_bg .dropdown p{float:left; width:96%; padding:5px 2%; cursor:pointer}
.ssl_bg .box1 .dropdown p{border-bottom:solid 1px #a5dc81}
.ssl_bg .box2 .dropdown p{border-bottom:solid 1px #ffc13b}
.ssl_bg .box3 .dropdown p{border-bottom:solid 1px #ffc2c5}
.ssl_bg .dropdown span:nth-child(1){ width:33%; float:left;font-weight:bold; text-align:left}
.ssl_bg .dropdown span:nth-child(2){width:33%; float:left;text-decoration:line-through; text-align:center}
.ssl_bg .dropdown span:nth-child(3){width:33%; float:right;color:red; text-align:right}

.ssl_bg .btn{ text-align:center; float:left; width:100%; margin:25px 0}
.ssl_bg .btn a{border-radius:7px; color:#fff; text-align:center; font-family: 'Roboto Condensed', sans-serif;font-size:22px; text-transform:uppercase; padding:5px 10%}
.ssl_bg .box1 .btn a{background:#368600; box-shadow:0 3px 0 #286102}
.ssl_bg .box1 .btn a:hover{background:#286102}
.ssl_bg .box2 .btn a{background:#b27a00; box-shadow:0 3px 0 #835b05}
.ssl_bg .box2 .btn a:hover{background:#835b05}
.ssl_bg .box3 .btn a{background:#b2000a; box-shadow:0 3px 0 #870008}
.ssl_bg .box3 .btn a:hover{background:#870008}
.ssl_bg .green{color:#48b300}

.ssl_bg thead tr:nth-child(1) td{ height:65px}
.ssl_bg thead tr:nth-child(2) td{ height:20px}
.ssl_bg thead tr:nth-child(3) td{ height:50px}
.ssl_bg thead tr:nth-child(4) td{ height:50px}

.ssl_add{float:left; width:100%; margin-top:20px}
.ssl_add table{width:100%; color:#fff}
.ssl_add td{ padding:10px; border-right: solid 1px #fff; border-bottom:solid 1px #fff; background:#e0e0e0 ; font:700 13px Tahoma; color:#000; text-align:center}
.ssl_add thead td{ background:#5b5b5b ; color:#fff; font:700 15px Tahoma}
.ssl_add thead td:first-child{ background:#fff; color:#000;font-family: 'Roboto Condensed', sans-serif; font-size:22px; text-transform:uppercase; font-weight:bold; text-align:left}
.ssl_add tbody td:first-child{background:#8d8d8d ;color:#fff; font:700 15px Tahoma; width:20%; text-align:left}

.ssl_note{ float:left; width:100%; text-align:right; margin-top:15px; font-style:italic}
.ssl_note strong{color:red}

.ssl_btn{float:left; width:100%; text-align:center; margin:35px 0}
.ssl_btn a{background:#1c87c9; border-radius:5px; padding:10px 7%; color:#fff;font-family: 'Roboto Condensed', sans-serif; font-size:25px; text-transform:uppercase; font-weight:bold;box-shadow: 1px 1px 1px #fff;border: 1px solid #fff;}
.ssl_btn a:hover{ background:#0769a6}

/*Dang ky buoc 1*/
.ssl_steps{ float:left; width:100%;  margin-top:20px}
.ssl_chongoi{float:left; width:100%;  margin-top:20px; border:solid 1px #c3c0c0; border-right:none; border-bottom:none}
.ssl_chongoi table{width:100%}
.ssl_chongoi thead td{background:#1769b2; border-right:solid 1px #c3c0c0; color:#fff; font:700 14px arial; text-transform:uppercase}
.ssl_chongoi td{border-right:solid 1px #c3c0c0;border-bottom:solid 1px #c3c0c0; padding:10px}
.ssl_chongoi td:last-child{text-align:right}
.ssl_chongoi tbody td:last-child{color:red; font-weight:bold}
.ssl_chongoi .select1{background:#e4e4e4; border: solid 1px #b8b8b8; width:100%; padding:5px; font-weight:bold; color:#5a8a00}
.ssl_chongoi .input1{background:#e4e4e4; border: solid 1px #b8b8b8; width:98%; padding:1%; font-weight:bold; color:#5a8a00}
.ssl_chongoi .select2{background:#fff; border: solid 1px #b8b8b8; width:100%; padding:5px}
.ssl_chongoi .input2{background:#fff; border: solid 1px #b8b8b8; width:98%; padding:1%}

.k_btn_ssl{float:left; text-align:center}
.k_btn_orange a {background: #fc6d14;border-bottom: 2px solid #e45700;color: #fff;font-weight: bold;text-transform: uppercase; padding:12px 30px}
.k_btn_orange a:hover{background:#e45700}
.k_btn_grey a {background: #888888;border-bottom: 2px solid #727272;color: #fff;font-weight: bold;text-transform: uppercase; padding:12px 30px}
.k_btn_grey a:hover{background:#727272}
.k_mg40{ margin:40px 0}
.k_mg30{ margin:30px 0}
.k_mr10{margin-right:10px}

/*Dang ky buoc 1a*/
.ssl_nhapcc{float:left; width:100%; margin-top:30px; color:#5a5a5a; font-size:14px}
.ssl_nhapcc h3{font-family: 'Roboto Condensed', sans-serif; font-size:22px;color:#f57129; margin:5px 0}

.ssl_tab{border-bottom:5px solid #83be13;float:left;width:100%;margin-top:20px; margin-bottom:20px}
.ssl_tab li{float:left; margin-bottom:10px}
.ssl_tab li a{ color:#5a5a5a;font-family: 'Roboto Condensed', sans-serif; font-size:16px; font-weight:bold; text-transform:uppercase; background:#e6e6e6; padding:10px; margin-right:5px}
.ssl_tab li a:hover,.ssl_tab li a.active{ background:#83be13; color:#fff}

.ssl_haved_csr .textarea{ float:left; width:30%; margin-right:2%}
.ssl_haved_csr textarea{ border: solid 1px #b8b8b8; width:98%; padding:1%; min-height:300px}
.ssl_haved_csr .ssl_haved_ex{float:right; width:68%}
.ssl_haved_csr .img_xn{ float:left; width:52%; margin-right:3%; border:solid 10px #e5e3e3; padding:1%}
.ssl_haved_csr .img_xn img{max-width:100%}
.ssl_haved_csr .txt_info{ float:left;width:34%; font:12px/20px arial; color:#5a5a5a; font-style:italic; border:solid 10px #e5e3e3; padding:1%; text-align:justify}
.ssl_haved_csr .txt_info .ico{background:url(../images/k_ssl_ico_info.html) no-repeat; width:22px; height:22px; float:left; margin-right:5px}

/*Dang ky buoc 1b*/
.ssl_haved_csr .textarea input{ border: solid 1px #b8b8b8; width:98%; padding:9px 1%; font:14px arial; margin-bottom:10px}

/*Ho so can chuan bi*/
.ssl_needfile{ float:left; margin-top:20px; width:100%}
.ssl_needfile td{ border-bottom:solid 1px #fff;border-right:solid 1px #fff}
.ssl_needfile td:first-child{width:14%;font-family: 'Roboto Condensed', sans-serif; font-size:30px; padding:1%; color:#fff}
.ssl_needfile td:last-child{width:82%; padding:5px 1%}
.ssl_needfile li{ background:url(../images/k_ssl_bullet.html) no-repeat left 10px; color:#2e2e2c; font:13px arial; padding:5px 15px}

.ssl_needfile .dv_ssl td:first-child{background:#66b730 }
.ssl_needfile .dv_ssl td:last-child{background:#dbe7d3}
.ssl_needfile .ov_ssl td:first-child{background:#85bd5f}
.ssl_needfile .ov_ssl td:last-child{background:#f3f3f3}
.ssl_needfile .ev_ssl td:first-child{background:#66b730}
.ssl_needfile .ev_ssl td:last-child{background:#dbe7d3}
.ssl_needfile .wildcard td:first-child{background:#85bd5f}
.ssl_needfile .wildcard td:last-child{background:#f3f3f3}
.ssl_needfile .sans td:first-child{background:#66b730}
.ssl_needfile .sans td:last-child{background:#dbe7d3}

.ssl_needfile_note{float:left; width:100%; font-style:italic; margin:20px 0; font-size:14px}
.ssl_needfile_note p { padding:5px 0}
.ssl_needfile_note strong{color:red; font-weight:bold; text-decoration:underline}

/*ssl_lagi*/
.ssl_lagi{ float:left; width:100%; margin-top:20px; font:14px/22px arial; color:#636363}
.ssl_lagi p{padding:5px 0; font-size: 15px; line-height: 23px;}
.ssl_lagi .box{float:left; width:100%; margin-top:10px}
.ssl_lagi .content{width:95%; margin-left:5%; float:left}
.ssl_lagi h3 img{float:left;margin-right:10px;margin-bottom: 10px;}
.ssl_lagi h3{font-family: 'Roboto Condensed', sans-serif;font-size: 21px;color:#2b2b2b;line-height: 29px;}
.ssl_lagi .why1 .img{float:left; width:20%; margin-right:2%}
.ssl_lagi img{  max-width:100%}
.ssl_lagi .why1 .txt{float:left; width:78%}
.ssl_lagi .why2 table{width:100%; float:left; margin-top:20px}
.ssl_lagi .why2 td{border-right:solid 1px #fff; border-bottom:solid 1px #fff; padding:10px}
.ssl_lagi .why2 td:first-child{ background:#0b90e4; color:#fff; width:20%; text-align:center}
.ssl_lagi .why2 p strong{font-family: 'Roboto Condensed', sans-serif; font-size:20px}
.ssl_lagi .why2 p span{font:13px arial; font-style:italic}
.ssl_lagi .why2 td:last-child{ background:#e5e6e7 ; font:14px/20px arial; color:#2b2b2b}
.ssl_lagi .threesteps{ text-align:center; float:left; width:100%; margin-top:20px}
.ssl_lagi .threesteps h4{font-family: 'Roboto Condensed', sans-serif; font-size:25px; color:#0b90e4; text-transform:uppercase}
.ssl_lagi .threesteps p{ font:700 14px arial; font-style:italic; margin:10px 0}
.ssl_lagi .why3 div img{ margin:20px 0}

/*quy trinh dang ky*/
.ssl_qtdk{ float:left; width:100%; margin-top:20px}
.ssl_qtdk li{border-bottom:dotted 1px #858484; padding:10px 0; float:left; width:100%}
.ssl_qtdk li span{float:left; width:6%;margin-right:1%}
.ssl_qtdk li span img{max-width:100%}
.ssl_qtdk li p{float: left; width:92%;font-family: 'Roboto Condensed', sans-serif; font-size:17px; margin-top:20px}
.ssl_qtdk li:nth-child(4) p{margin-top:10px}
.ssl_if{background:#265283; border-radius:5px; color:#fff; font:17px arial; float:left; width:98%; padding:15px 1%; margin-top:20px; text-align:center}
.ssl_if a{color:#FFFF00}

/*ssl_alpha_banggia*/
.ssl_bg_alpha{ float:left; width:100%}
.ssl_bg_alpha h2{ text-align:center;font-family: 'Roboto Condensed', sans-serif; font-size:25px; color:#000; float:left; width:100%;margin-top:20px}
.ssl_alpha_table table{ background:#edecec; float:left; width:100%; margin-top:15px; font:14px tahoma; color:#00}
.ssl_alpha_table td{border-bottom:solid 1px #fff;border-right:solid 1px #fff; padding:7px 1%; width:49%}
.ssl_alpha_table tr:last-child td{border-bottom:none}

.select_alpha table{float:left; width:100%; margin-top:20px; font:14px tahoma}
.select_alpha td{ padding:10px; border-right:solid 1px #fff; background:#f1ebdb ; text-align:center; border-bottom:solid 1px #fff}
.select_alpha td:nth-child(1){ width:10%}
.select_alpha tr:first-child td{background:#7c7c7c ; color:#fff; font-weight:bold}
.select_alpha td span:first-child{text-decoration:line-through; margin-right:10px}
.select_alpha td span:last-child{color:#1086ce; font-weight:bold}

/*ssl_alpha_sosanh*/
.ssl_alpha_compare h2{ text-align:center;font-family: 'Roboto Condensed', sans-serif; font-size:25px; color:#000; float:left; width:100%;margin-bottom:20px}

.ssl_alpha_compare{float:left; margin-top:20px; width:100%; font:12px tahoma}
.ssl_alpha_compare .box {float: left;margin-right:0.5%;width: 19.5%;}
.ssl_alpha_compare td {border-bottom: 1px dashed #c8c8c8;padding: 7px 2%;width: 48%}
.ssl_alpha_compare img{max-width:100%; max-height:60px}
.ssl_alpha_compare .cl_red{color:red}
.ssl_alpha_compare tr:nth-child(8) td{ height:40px}

.ssl_alpha_compare h3{ font-family: 'Roboto Condensed', sans-serif;font-size:20px; float:left; width:100%; text-align:center; padding:10px 0; color:#fff; text-shadow:1px 1px 0 #000; border-top:solid 10px #fff; border-radius:8px 8px 0 0}
.ssl_alpha_compare table{float:left; width:100%}
.ssl_alpha_compare td.colpan{font-weight:bold; color:#000}

.ssl_alpha_compare .box1 h3{background:#1c87c9; border-top:solid 10px #1c87c9}
.ssl_alpha_compare .box1 table{border:solid 3px #1c87c9}
.ssl_alpha_compare .box1 td:first-child{background:#d1ebfc}
.ssl_alpha_compare .box1 td.colpan{background:#1086ce; color:#fff;}

.ssl_alpha_compare .box2 h3{background:#7c7c7c}
.ssl_alpha_compare .box2 table{border:solid 1px #949494}
.ssl_alpha_compare .box2 td:first-child{background:#f1f1f1}
.ssl_alpha_compare .box2 td.colpan{background:#d0d0d0}

.ssl_alpha_compare .box3 h3{background:#66b730}
.ssl_alpha_compare .box3 table{border:solid 1px #66b730}
.ssl_alpha_compare .box3 td:first-child{background:#e4ffd2}
.ssl_alpha_compare .box3 td.colpan{background:#b7e49a}

.ssl_alpha_compare .box4 h3{background:#4856bf}
.ssl_alpha_compare .box4 table{border:solid 1px #4856bf}
.ssl_alpha_compare .box4 td:first-child{background:#e0e4ff}
.ssl_alpha_compare .box4 td.colpan{background:#b1b9f4}

.ssl_alpha_compare .box5 h3{background:#cbae1c}
.ssl_alpha_compare .box5 table{border:solid 1px #cbae1c}
.ssl_alpha_compare .box5 td:first-child{background:#fff7cd}
.ssl_alpha_compare .box5 td.colpan{background:#e5d78c}
/*---begin slide ssl ---*/
.slide-why-ssl{
	float: left;
    margin-top: 10px;
    width: 100%;
	margin-bottom:20px;
}
.slide-why-ssl h3 {
    color: #2b2b2b;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 25px;
    line-height: 50px;
	margin-bottom:10px;
}
.text-vp{
	width:95%;
	float:left;
	margin:10px 0;
	line-height:22px;
	margin-left:5%;
}
.tit-qtssl-q {
    font-size: 25px;
    line-height: 33px;
}
@media (max-width: 768px) {
	.ssl_bg .box {
		width: 100%;
	}
	.ssl_add {
		overflow-y: hidden; 
	}
	.ssl_bannerimg {
		width: 100%;
	}
	.ssl_bannertxt {
		width: 100%;
	}
	.ssl_alpha_compare .box {
		width: 100%;
	}
	.ssl_title h2 {
		font-size: 26px;
		line-height: 34px;
	}
	.ssl_qtdk li span {
    float: left;
    width: 100%;
    text-align: center;
    /* margin-right: 1%; */
}
.ssl_qtdk li p {
    float: left;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    margin-top: 20px;
}
}